In [1]:
import pandas as pd
import numpy as np
import pickle
import nltk
import string
import re
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer

In [2]:
dataFrame = pd.read_csv("/Users/Oyewole Salami/Documents/WarPeaceModel/War_Peace.csv", sep =",")
df = dataFrame.sample(frac = 1)
labelEn = LabelEncoder()
df['Class'] = labelEn.fit_transform(df['Class'])
df.describe()

             Class
count  3061.000000
mean      0.470434
std       0.499207
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [3]:
df

                                               Headline  Class
1964  With Yemen boiling over to the south, ISIL thr...      1
1076  JUST IN: President Trump warns Russia it shoul...      0
468   More than 470 people, including 150 children, ...      0
1822  Prince Ahmed bin Abdulaziz is considering not ...      1
1133  A FBI translator travelled to Syria and secret...      0
...                                                 ...    ...
999   One shell in Syria can change a life forever. ...      0
899   "With the US we have an extradition agreement....      0
1403  Ahmad Khalil knew that his family's days in Sy...      0
889   The summit brought together top lawmakers of I...      0
148   " You just killed your creature." - Iranian In...      0

[3061 rows x 2 columns]

## Where 0 == Peace and 1 == War

In [4]:
#Number of Peace Related News
Peace = df.loc[df['Class'] == 0 ].count()
Peace

Headline    1621
Class       1621
dtype: int64

In [5]:
#Number of War Related News
War = df.loc[df['Class'] == 1 ].count()
War

Headline    1440
Class       1440
dtype: int64

In [6]:
#Missing Values
df['Class'].isnull()

1964    False
1076    False
468     False
1822    False
1133    False
        ...
999     False
899     False
1403    False
889     False
148     False
Name: Class, Length: 3061, dtype: bool

## Preprocessing

In [7]:
#Punctuations
def removePunc(news):
    newsWithoutPunc = "".join([charac for charac in news if charac not in string.punctuation])
    return newsWithoutPunc

In [18]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [8]:
df['Headline'] = df['Headline'].apply(lambda news: removePunc(news))
df

                                               Headline  Class
1964  With Yemen boiling over to the south ISIL thre...      1
1076  JUST IN President Trump warns Russia it should...      0
468   More than 470 people including 150 children ha...      0
1822  Prince Ahmed bin Abdulaziz is considering not ...      1
1133  A FBI translator travelled to Syria and secret...      0
...                                                 ...    ...
999   One shell in Syria can change a life forever M...      0
899   With the US we have an extradition agreement T...      0
1403  Ahmad Khalil knew that his familys days in Syr...      0
889   The summit brought together top lawmakers of I...      0
148    You just killed your creature  Iranian Inform...      0

[3061 rows x 2 columns]

In [9]:
#Tokenization
def tokenize(news):
    tokens = re.split('\W+', news)
    return tokens

df['tokenizedHeadline'] = df['Headline'].apply(lambda words: tokenize(words.lower()))
df

,Headline,Class,tokenizedHeadline
1964,With Yemen boiling over to the south ISIL thre...,1,"[with, yemen, boiling, over, to, the, south, i..."
1076,JUST IN President Trump warns Russia it should...,0,"[just, in, president, trump, warns, russia, it..."
468,More than 470 people including 150 children ha...,0,"[more, than, 470, people, including, 150, chil..."
1822,Prince Ahmed bin Abdulaziz is considering not ...,1,"[prince, ahmed, bin, abdulaziz, is, considerin..."
1133,A FBI translator travelled to Syria and secret...,0,"[a, fbi, translator, travelled, to, syria, and..."
...,...,...,...
999,One shell in Syria can change a life forever M...,0,"[one, shell, in, syria, can, change, a, life, ..."
899,With the US we have an extradition agreement T...,0,"[with, the, us, we, have, an, extradition, agr..."
1403,Ahmad Khalil knew that his familys days in Syr...,0,"[ahmad, khalil, knew, that, his, familys, days..."
889,The summit brought together top lawmakers of I...,0,"[the, summit, brought, together, top, lawmaker..."
148,You just killed your creature Iranian Inform...,0,"[, you, just, killed, your, creature, iranian,..."

In [10]:
#Removing Stopwords
stopwords = nltk.corpus.stopwords.words('english')
def removeStopwords(tokenizedHeadline):
    cleanedNews = [word for word in tokenizedHeadline if word not in stopwords]
    return cleanedNews
df['refinedTokens'] = df['tokenizedHeadline'].apply(lambda news: removeStopwords(news))
df

,Headline,Class,tokenizedHeadline,refinedTokens
1964,With Yemen boiling over to the south ISIL thre...,1,"[with, yemen, boiling, over, to, the, south, i...","[yemen, boiling, south, isil, threatening, nor..."
1076,JUST IN President Trump warns Russia it should...,0,"[just, in, president, trump, warns, russia, it...","[president, trump, warns, russia, get, ready, ..."
468,More than 470 people including 150 children ha...,0,"[more, than, 470, people, including, 150, chil...","[470, people, including, 150, children, killed..."
1822,Prince Ahmed bin Abdulaziz is considering not ...,1,"[prince, ahmed, bin, abdulaziz, is, considerin...","[prince, ahmed, bin, abdulaziz, considering, r..."
1133,A FBI translator travelled to Syria and secret...,0,"[a, fbi, translator, travelled, to, syria, and...","[fbi, translator, travelled, syria, secretly, ..."
...,...,...,...,...
999,One shell in Syria can change a life forever M...,0,"[one, shell, in, syria, can, change, a, life, ...","[one, shell, syria, change, life, forever, mee..."
899,With the US we have an extradition agreement T...,0,"[with, the, us, we, have, an, extradition, agr...","[us, extradition, agreement, us, hand, man, us]"
1403,Ahmad Khalil knew that his familys days in Syr...,0,"[ahmad, khalil, knew, that, his, familys, days...","[ahmad, khalil, knew, familys, days, syria, nu..."
889,The summit brought together top lawmakers of I...,0,"[the, summit, brought, together, top, lawmaker...","[summit, brought, together, top, lawmakers, ir..."
148,You just killed your creature Iranian Inform...,0,"[, you, just, killed, your, creature, iranian,...","[, killed, creature, iranian, information, min..."

In [11]:
#Stemming
#def stemmer(refinedTokens):
#    ps = PorterStemmer()
#    stemmedWord = [ps.stem(word) for word in refinedTokens]
#    return stemmedWord
#df['stemmedTokens'] = df['refinedTokens'].apply(lambda word: stemmer(word))
#df

In [24]:
#Lemmatization
def lemmatizer(refinedTokens):
    wn = nltk.WordNetLemmatizer()
    lemmatizedWords =  [wn.lemmatize(word) for word in refinedTokens]
    return lemmatizedWords
df['lemmatizedWords'] = df['refinedTokens'].apply(lambda word: lemmatizer(word))
df

,Headline,Class,tokenizedHeadline,refinedTokens,lemmatizedWords
1964,With Yemen boiling over to the south ISIL thre...,1,"[with, yemen, boiling, over, to, the, south, i...","[yemen, boiling, south, isil, threatening, nor...","[yemen, boiling, south, isil, threatening, nor..."
1076,JUST IN President Trump warns Russia it should...,0,"[just, in, president, trump, warns, russia, it...","[president, trump, warns, russia, get, ready, ...","[president, trump, warns, russia, get, ready, ..."
468,More than 470 people including 150 children ha...,0,"[more, than, 470, people, including, 150, chil...","[470, people, including, 150, children, killed...","[470, people, including, 150, child, killed, s..."
1822,Prince Ahmed bin Abdulaziz is considering not ...,1,"[prince, ahmed, bin, abdulaziz, is, considerin...","[prince, ahmed, bin, abdulaziz, considering, r...","[prince, ahmed, bin, abdulaziz, considering, r..."
1133,A FBI translator travelled to Syria and secret...,0,"[a, fbi, translator, travelled, to, syria, and...","[fbi, translator, travelled, syria, secretly, ...","[fbi, translator, travelled, syria, secretly, ..."
...,...,...,...,...,...
999,One shell in Syria can change a life forever M...,0,"[one, shell, in, syria, can, change, a, life, ...","[one, shell, syria, change, life, forever, mee...","[one, shell, syria, change, life, forever, mee..."
899,With the US we have an extradition agreement T...,0,"[with, the, us, we, have, an, extradition, agr...","[us, extradition, agreement, us, hand, man, us]","[u, extradition, agreement, u, hand, man, u]"
1403,Ahmad Khalil knew that his familys days in Syr...,0,"[ahmad, khalil, knew, that, his, familys, days...","[ahmad, khalil, knew, familys, days, syria, nu...","[ahmad, khalil, knew, family, day, syria, numb..."
889,The summit brought together top lawmakers of I...,0,"[the, summit, brought, together, top, lawmaker...","[summit, brought, together, top, lawmakers, ir...","[summit, brought, together, top, lawmaker, ira..."
148,You just killed your creature Iranian Inform...,0,"[, you, just, killed, your, creature, iranian,...","[, killed, creature, iranian, information, min...","[, killed, creature, iranian, information, min..."

In [13]:
#Vectorization
cv = CountVectorizer(analyzer=lemmatizer)
vectors = cv.fit_transform(df['lemmatizedWords']).toarray
print(vectors)

<bound method _cs_matrix.toarray of <3061x8379 sparse matrix of type '<class 'numpy.int64'>'
	with 46905 stored elements in Compressed Sparse Row format>>

In [14]:
cv.get_feature_names()

['',
 '0100',
 '0330',
 '1',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '1001st',
 '101',
 '103',
 '105',
 '106',
 '107',
 '10dayold',
 '10kg',
 '10km',
 '10point',
 '10year',
 '10yearold',
 '11',
 '110',
 '11000',
 '110bn',
 '1125',
 '1130',
 '115',
 '115yearold',
 '116000',
 '118',
 '11gmt',
 '11minute',
 '11th',
 '11yearold',
 '12',
 '120',
 '12000',
 '120000',
 '120day',
 '121',
 '123',
 '12600',
 '1288',
 '129',
 '12th',
 '12yearold',
 '13',
 '130',
 '1300',
 '138',
 '13th',
 '13yearold',
 '14',
 '140',
 '1400',
 '14000',
 '145',
 '14500',
 '146',
 '149',
 '14yearold',
 '15',
 '150',
 '1500',
 '150000',
 '1500km',
 '15km',
 '15yearold',
 '16',
 '1600',
 '160000',
 '1630',
 '164000',
 '16yearold',
 '17',
 '170',
 '1700',
 '170000',
 '1730',
 '175000',
 '1787',
 '17yearold',
 '17yo',
 '18',
 '1800',
 '18000',
 '182',
 '189',
 '1892',
 '18bn',
 '18th',
 '19',
 '19000',
 '19200',
 '1922',
 '1947',
 '1948',
 '1965',
 '1967',
 '1970s',
 '1971',
 '1973',
 '19751990',
 '1976',
 '1982',
 '19yearold',
 '1yearold',
 '2',
 '20',
 '200',
 '2000',
 '20000',
 '200000',
 '2001',
 '2003',
 '2005',
 '2007',
 '2008',
 '200page',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '21',
 '214',
 '215',
 '21st',
 '21yearold',
 '22',
 '220000',
 '2220',
 '223',
 '2230',
 '224',
 '2251',
 '227',
 '22yearold',
 '23',
 '230',
 '24',
 '24000',
 '25',
 '250',
 '2500',
 '250000',
 '26',
 '26yearold',
 '27',
 '2700',
 '271',
 '276',
 '28',
 '280',
 '289',
 '28yearold',
 '29',
 '2m',
 '3',
 '30',
 '300',
 '3000',
 '30000',
 '300000',
 '30000strong',
 '300km',
 '300m',
 '3027',
 '3034',
 '3072',
 '30day',
 '30km',
 '30yearold',
 '31',
 '31yearold',
 '32',
 '33',
 '33yearold',
 '34',
 '346',
 '348',
 '35',
 '350',
 '3500',
 '35000',
 '350000',
 '350000400000',
 '36',
 '360',
 '37',
 '3700',
 '370000',
 '38',
 '388000',
 '39',
 '3952',
 '397',
 '398',
 '4',
 '40',
 '400',
 '4000',
 '400000',
 '40bn',
 '41',
 '41bn',
 '42',
 '42year',
 '42yearold',
 '43',
 '430',
 '43yearold',
 '44',
 '44tn',
 '45',
 '4500',
 '45000',
 '45th',
 '4650',
 '465000',
 '47',
 '470',
 '48',
 '480m',
 '486',
 '48hour',
 '48yearold',
 '49',
 '4am',
 '4th',
 '4yearold',
 '5',
 '50',
 '500',
 '5000',
 '50000',
 '500km',
 '500m',
 '5060',
 '50day',
 '50km',
 '50th',
 '50year',
 '51',
 '52',
 '52yearold',
 '53',
 '54',
 '5400',
 '54bn',
 '55',
 '550',
 '56',
 '560',
 '57',
 '5700',
 '58',
 '58th',
 '58yearold',
 '59',
 '595',
 '5m',
 '5thgrade',
 '5yearold',
 '6',
 '60',
 '600',
 '6000',
 '60000',
 '60minute',
 '60th',
 '62',
 '63',
 '64',
 '640200',
 '649',
 '65',
 '650',
 '6500',
 '65000',
 '650000',
 '670',
 '6800',
 '683',
 '689',
 '69',
 '6yearold',
 '7',
 '70',
 '700',
 '7000',
 '70000',
 '70th',
 '71',
 '712',
 '72',
 '72yearold',
 '73',
 '730pm',
 '74',
 '75',
 '76',
 '77',
 '771',
 '78',
 '7kg',
 '7yearold',
 '8',
 '80',
 '800',
 '8000',
 '80000',
 '800yearold',
 '81',
 '82',
 '83yearold',
 '84',
 '840km',
 '84bn',
 '850',
 '850000',
 '85mworth',
 '860000',
 '87',
 '88',
 '8th',
 '8yearold',
 '9',
 '90',
 '9000',
 '900000',
 '90day',
 '91',
 '911',
 '92',
 '93',
 '94',
 '95',
 '95000sq',
 '96',
 '97',
 '99',
 '990',
 '9yearold',
 'aazam',
 'ababa',
 'abandon',
 'abandoned',
 'abandoning',
 'abase',
 'abbas',
 'abbott',
 'abboud',
 'abdallah',
 'abdel',
 'abdelbasset',
 'abdeldaem',
 'abdeslam',
 'abdi',
 'abdomen',
 'abdrabbu',
 'abducted',
 'abducting',
 'abduction',
 'abdul',
 'abdulazez',
 'abdulaziz',
 'abdulkarim',
 'abdullah',
 'abdulmuti',
 'abed',
 'ability',
 'able',
 'abominable',
 'abound',
 'abqaiq',
 'abraham',
 'abroad',
 'absa',
 'absolute',
 'absolutely',
 'absorbed',
 'abstain',
 'abstention',
 'abu',
 'abulhawa',
 'abusalama',
 'abuse',
 'abyad',
 'abyss',
 'academic',
 'accept',
 'accepted',
 'access',
 'accessible',
 'accident',
 'accidentally',
 'accommodate',
 'accommodation',
 'accompanying',
 'accomplice',
 'accomplish',
 'accomplished',
 'accord',
 'accordance',
 'according',
 'account',
 'accountable',
 'accountableâ',
 'accusation',
 'accuse',
 'accused',
 'accuses',
 'accusing',
 'achieve',
 'achieved',
 'achieving',
 'acknowledged',
 'acquiescing',
 'across',
 'act',
 'acted',
 'acting',
 'action',
 'active',
 'actively',
 'activist',
 'activity',
 'actor',
 'actual',
 'actually',
 'acute',
 'acutely',
 'ad',
 'adam',
 'adayinsyria',
 'add',
 'addario',
 'added',
 'adding',
 'addis',
 'addition',
 'additional',
 'address',
 'addressed',
 'addressing',
 'adel',
 'aden',
 'adequate',
 'adha',
 'adham',
 'adjoining',
 'adly',
 'administration',
 'administrationâ',
 'admit',
 'admits',
 'admitting',
 'adnan',
 'adopt',
 'adopted',
 'adopts',
 'adow',
 'adraee',
 'adult',
 'adultery',
 'advance',
 'advanced',
 'advancing',
 'advantage',
 'advice',
 'advise',
 'adviser',
 'advises',
 'advocate',
 'aerial',
 'aeronautics',
 'affair',
 'affect',
 'affected',
 'affecting',
 'affiliate',
 'affiliated',
 'affirming',
 'afford',
 'afghan',
 'afghanistan',
 'afp',
 'afraid',
 'africa',
 'african',
 'afrin',
 'aftermath',
 'afternoon',
 'agam',
 'age',
 'aged',
 'agency',
 'agenda',
 'agent',
 'aggression',
 'aggressive',
 'ago',
 'agony',
 'agree',
 'agreed',
 'agreement',
 'agrees',
 'agricultural',
 'ahead',
 'ahmad',
 'ahmed',
 'ahmet',
 'ahrar',
 'aid',
 'aida',
 'aided',
 'aiding',
 'aim',
 'aimed',
 'aipac',
 'air',
 'airbase',
 'aircraft',
 'airdropped',
 'aired',
 'airfield',
 'airlifted',
 'airline',
 'airport',
 'airspace',
 'airstrike',
 'airstrikes',
 'airtoair',
 'aisha',
 'aj',
 'aje',
 'ajeiop6e5yhttpswwwaljazeeracomnews20191010turkeysyriaborderallthelatestupdates',
 'ajeiosilentwarhttpswwwaljazeeracomprogrammeswitness201806silentwarrapeweaponsyria180611071447939html',
 'ajeopinion',
 'ajnewsgrid',
 'ajopinion',
 'ajour',
 'ak47s',
 'akbar',
 'al',
 'alaa',
 'alabama',
 'alabed',
 'aladha',
 'alahdath',
 'alahmad',
 'alain',
 'alandalusi',
 'alankurdi',
 'alaqsa',
 'alaraj',
 'alarm',
 'alarmed',
 'alassad',
 'alassads',
 'alastair',
 'alaswad',
 'alawlaki',
 'alazhar',
 'albab',
 'albaghdadi',
 'albaghdadis',
 'albashir',
 'albeit',
 'albozom',
 'alburai',
 'aldabit',
 'aldalis',
 'aldiaby',
 'aldyab',
 'aleppo',
 'aleppoisburning',
 'aleppoâ',
 'alert',
 'alex',
 'alexander',
 'alexs',
 'alfoua',
 'algeria',
 'alghazali',
 'algonquin',
 'alhaaj',
 'alhaajs',
 'alhabils',
 'alhajj',
 'alhariri',
 'alhawari',
 'alhayali',
 'alhodeidah',
 'alhol',
 'alhussein',
 'ali',
 'alias',
 'alike',
 'alislam',
 'alive',
 'aljahjouh',
 'aljaleel',
 'aljawf',
 'aljazeeracom',
 'aljubeir',
 'aljumaili',
 'alkhabazs',
 'allahu',
 'allan',
 'allegation',
 'alleged',
 'allegedly',
 'allegiance',
 'allen',
 'alley',
 'alliance',
 'allied',
 'allout',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'alluded',
 'ally',
 'almadhoun',
 'almalikiyah',
 'almandab',
 'almarashi',
 'almost',
 'almouallimi',
 'almuhandis',
 'alnahyan',
 'alnajjar',
 'alnuman',
 'alnusairat',
 'alnusra',
 'alone',
 'along',
 'alongside',
 'alqaeda',
 'alqaedalinked',
 'alqaedas',
 'alqassam',
 'alqedra',
 'alqidra',
 'alqudra',
 'alquds',
 'alrahman',
 'alrai',
 'alraymi',
 'already',
 'alrimi',
 'alsaid',
 'alsarout',
 'alsawafir',
 'alsawarka',
 'alshabaab',
 'alsham',
 'alshati',
 'alshimale',
 'alshobaky',
 'alshura',
 'also',
 'altalawy',
 'altanaf',
 'alternative',
 'although',
 'alwaer',
 'alwahayshi',
 'alwalid',
 'always',
 'alzaytoun',
 'alzaytun',
 'alzheimers',
 'alzour',
 'amal',
 'amals',
 'amani',
 'amaq',
 'amaterials',
 'amazing',
 'ambassador',
 'ambulance',
 'ameera',
 'amer',
 'america',
 'american',
 'amid',
 'amidst',
 'amira',
 'amiraâ',
 'amman',
 'ammunition',
 'amnesty',
 'among',
 'amos',
 'amount',
 'amphitheatre',
 'ample',
 'amputate',
 'amputated',
 'amputating',
 'amputation',
 'amputee',
 'amro',
 'anabel',
 'anadolu',
 'analyse',
 'analysis',
 'analyst',
 'anarchism',
 'anatol',
 'ancestral',
 'anchor',
 'ancient',
 'anderson',
 'andreea',
 'andrew',
 'andrã',
 'anealla',
 'angela',
 'angeles',
 'anger',
 'angering',
 'angry',
 'angus',
 'animal',
 'ankara',
 'ankaraled',
 'ankararuled',
 'anna',
 'annihilate',
 'anniversary',
 'announce',
 'announced',
 'announcement',
 'announces',
 'announcing',
 'annoyance',
 'annual',
 'anonymity',
 'another',
 'answer',
 'antagonism',
 'anthony',
 'antiassad',
 'antibiotic',
 'anticolonial',
 'antieurovision',
 'antigovernment',
 'antihouthi',
 'antiis',
 'antiisil',
 'antiislamic',
 'antipoverty',
 'antiquites',
 'antiquity',
 'antirussia',
 'antitank',
 'antiterror',
 'antiterrorism',
 'antiterrorist',
 'anton',
 'antonia',
 'antonio',
 'anwar',
 'anybodys',
 'anymore',
 'anyone',
 'anything',
 'anythingâ',
 'anywhere',
 'apart',
 'apartheid',
 'apartment',
 'apologise',
 'apologised',
 'apologises',
 'appalling',
 'apparent',
 'apparently',
 'appeal',
 'appealing',
 'appear',
 'appearance',
 'appeared',
 'appears',
 'appetite',
 'applicant',
 'applied',
 'appointment',
 'appreciating',
 'approach',
 'approached',
 'approaching',
 'appropriate',
 'approval',
 'approved',
 'approves',
 'approximately',
 'april',
 'aquaponic',
 'aquifer',
 'arab',
 'arabia',
 'arabialed',
 'arabian',
 'arabiauaeled',
 'arabic',
 'arabicspeaking',
 'arabisraeli',
 'arafat',
 'aramco',
 'arbiter',
 'arbitrary',
 'archibald',
 'ardent',
 'ardern',
 'ardoch',
 'area',
 'arena',
 'argentine',
 'argue',
 'arguing',
 'argument',
 'ariel',
 'arising',
 'arm',
 'armed',
 'arming',
 'armoured',
 'army',
 'arndale',
 'aronson',
 'around',
 'arrangement',
 'array',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrived',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'artema',
 'article',
 'artificial',
 'artillery',
 'artist',
 'arturs',
 'artwork',
 'arwa',
 'asad',
 'ash',
 'ashamed',
 'ashdod',
 'ashraf',
 'asia',
 'asian',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspect',
 'asphyxiated',
 'aspiration',
 'aspire',
 'asr',
 'assad',
 'assads',
 'assadâ',
 'assailant',
 'assali',
 'assassinated',
 'assassination',
 'assatri',
 'assault',
 'assembled',
 'assembly',
 'asseri',
 'asserting',
 'assessment',
 'asset',
 'assigned',
 'assignment',
 'assist',
 'assistance',
 'assistant',
 'assisted',
 'associate',
 'associated',
 'association',
 'assortment',
 'assume',
 'assuming',
 'assure',
 'assured',
 'assyrian',
 'astar',
 'asylum',
 'asylumseekers',
 'asyulmseekers',
 'atassi',
 'ataturk',
 'athamneh',
 'athens',
 'athlete',
 'atlanta',
 'atmeh',
 'atrocious',
 'atrocity',
 'attached',
 'attack',
 'attacked',
 'attacker',
 'attackhttpajeiodlvn',
 'attacking',
 'attackâ',
 'attar',
 'attempt',
 'attempted',
 'attempting',
 'attend',
 'attended',
 'attention',
 'attitude',
 'attracted',
 'attraction',
 'attributed',
 'attribution',
 'auction',
 'auctioned',
 'auctioneer',
 'aud',
 'audacity',
 'audio',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'authenticate',
 'author',
 'authorisation',
 'authorised',
 'authoritatively',
 'authority',
 'authorizing',
 'available',
 'average',
 'avert',
 'aviation',
 'avichay',
 'avigdor',
 'aviv',
 'avlon',
 'avoid',
 'avoided',
 'awad',
 'await',
 'awaiting',
 'awan',
 'award',
 'awardwinning',
 'aware',
 'away',
 'awe',
 'aweinspiring',
 'awful',
 'awoke',
 'aya',
 'ayachis',
 'ayalon',
 'ayatollah',
 'ayoub',
 'az',
 'azarijahromi',
 'azaz',
 'aâ',
 'baalbek',
 'bab',
 'baba',
 'baby',
 'bachelet',
 'back',
 'backdoor',
 'backed',
 ...]